/* -------------------- */
/* GLOBAL PAGE THEME    */
/* -------------------- */

.page {
  min-height: 100vh;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-family: "Inter", sans-serif;
  color: white;
  background-image: url("C:\Users\abhis\Downloads\luxa.org-opacity-changed-._ims picture.jpg");
  background-size: cover;
}

.btn-small {
  margin-left: 10px !important
  ;
}

/* -------------------- */
/* LOGIN CARD           */
/* -------------------- */

.login-card {
  width: 100%;
  max-width: 420px;
  /* background: rgba(32, 32, 35, 0.7); Glass effect */
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(22px);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  color: white;
}

/* -------------------- */
/* FORM INPUTS          */
/* -------------------- */

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  /* background: #1b1c20; */
  background-color: white;
  border: 1px solid #2c2d31;
  color: white;
  font-size: 15px;
  outline: none;
  transition: 0.2s ease;
}

.input:focus {
  border-color: #4e9fff;
  box-shadow: 0 0 8px rgba(78, 159, 255, 0.4);
}

/* -------------------- */
/* BUTTON               */
/* -------------------- */

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: linear-gradient(135deg, #4e9fff, #276dff);
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 4px 12px rgba(78, 159, 255, 0.25);
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.btn:active {
  transform: scale(0.97);
}
